/* GENERAL SETTINGS */
*, *:before, *:after {
    direction:rtl;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#banner{
    margin-top: 9px;
}

#banner-content, #acheck-banner-content{
    visibility: hidden;
}

body {
    background:#fff;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
    font-family: 'Arimo', sans-serif, Arial, Helvetica;
    font-size:18px;
    font-weight:normal;
    color:#111;
}

iframe {
    border: 0 !important;
}

.row {
    margin: 0 3%;
    padding: 75px 0;
    position: relative;
}

[class*='col-'] {
    float: left;
    padding: 10px;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, blockquote, th, td {
    margin: 0;
    padding: 0;
}

p {
    line-height: 25px;
}

a {
    color:#355B77;
    text-decoration: none;
    line-height: inherit;
    -webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
}

a:hover, #header.nav-solid nav a:hover, .icon i {
    color:#355B77;
}

/* FORM ELEMENTS */

input, textarea {
    border: 1px solid #e1e1e1;
    padding: 10px;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    transition: all .3s linear;
    border-radius: 3px;
}

input {
    height: 40px;
    margin: 3px 0;
    outline: none;
    line-height: normal;
    font-size: 18px!important;
}

textarea{
    line-height: normal;
    font-size: 18px!important;
}

section {
    clear: both;
    overflow: hidden;
}

select {
    border: 1px solid #e1e1e1;
    height: 40px;
    padding: 5px;
}

input:focus, textarea:focus {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.4);
}

*:focus {
    outline: none;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/* Page Border */
.page-border {
    position: fixed;
    z-index: 999999;
    pointer-events: none;
}

.page-border .bottom-border, .page-border .left-border, .page-border .right-border, .page-border .top-border {
    background: #f3f3ef;
    position: fixed;
    z-index: 9999;
}

.page-border > .top-border, .page-border > .right-border, .page-border > .bottom-border, .page-border > .left-border {
    padding: 11px;
    background: #ccc;
}

.page-border .bottom-border, .page-border .top-border {
    width: 100%;
    padding: 10px;
    left: 0;
}

.page-border .left-border, .page-border .right-border {
    padding: 10px;
    height: 100%;
    top: 0;
}

.page-border .top-border {
    top: 0;
}

.page-border .right-border {
    right: 0;
}

.page-border .bottom-border {
    bottom: 0;
}

.page-border .left-border {
    left: 0;
}

#wrapper {
    margin:0 15px;
    padding: 15px 0;
    position: relative;
}

#banner .section-heading:before {
    background: #355B77;
}

/* DANGER MODAL DEFINTION */
.modal-danger .modal-header,.modal-danger .modal-footer{border-color:#c23321}
.modal-danger .modal-body,.modal-danger .modal-header,.modal-danger .modal-footer{color:#fff !important}
.bg-red,.callout.callout-danger,.alert-danger,.alert-error,.label-danger,.modal-danger .modal-body{background-color:#dd4b39 !important}
.bg-red-active,.modal-danger .modal-header,.modal-danger .modal-footer{background-color:#d33724 !important}

/* FOOTER */

#landing-footer {
    clear: both;
}

#landing-footer .row {
    padding: 0;
}


/*FAQ Section*/

.faqitem h3 {
    font-size:17px;
    text-transform:uppercase;
    padding-bottom:0;
}

.faqitem-content {
    background: #fff;
    text-align: right;
    padding: 5px 0 5px 0;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.07);
    transition: all 0.2s ease-in-out 0s;
    position: relative;
    border: 10px solid #fff;
}

.faqitem-content .row {
    padding: 5px 0 5px 0!important;
}

.faqitem-content:hover {
    border-color:#355B77;
}

/* CLIENTS SECTION IN PROFILE PAGE */
#clients a {
    display: block;
    text-align: center;
    position: relative;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
}

#clients img {
    display: inline-block;
    padding: 15px 25px;
}

.client-overlay {
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

#clients a:hover .client-overlay {
    opacity: 1;
}

.client-overlay span {
    position: absolute;
    top: 48%;
    left: 0;
    width: 100%;
    text-align: center;
    display: inline-block;
}

/* GALLERY ITEM */
#gallery img {
    max-height: 300px;
}

#gallery [class*='col-'] {
    padding: 0;
}

#gallery a.gallery_item {
    display: inline-block;
    position: relative;
    overflow: hidden;
}

#gallery a.gallery_item:hover img {
    opacity: 0.15;
    -moz-backface-visibility: hidden;
}

#gallery a.gallery_item:before {
    font-size: 2.2em;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    content: "+";
    width: 70px;
    height: 70px;
    border-radius: 100em;
    display: block;
    position: absolute;
    top: 55%;
    left: 50%;
    line-height: 72px;
    margin: -35px 0 0 -35px;
    opacity: 0;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    transition: all .2s linear;
    vertical-align: middle;
}

#gallery a.gallery_item:hover:before {
    opacity: 1;
    top: 50%;
    left: 50%;
}

/* Transparent Navigation Color on a Banner */

#header nav a, #header i {
    color:#111;
}


/* Navigation Colors when the Navigation is sticky and solid */ 

#header.nav-solid, #header.nav-solid a, #header.nav-solid i, #nav-mobile ul li a {
    color:#333;
}


/* Navigation Active State */

#header.nav-solid .active {
    color: #355B77;
    border-color: #355B77;
}    

.primary-color {
    background-color:#355B77;
}

.primary-color, .primary-color .section-title, .primary-color .section-subtitle{
    color:#355B77;    
}

.modal h4 {
    font-weight: bolder;
}

.section-heading h2:after {
    background:#355B77;
    content:"";
    display:block;
    width:40px;
    height:5px;
    margin-top:30px;
}

.text-center .section-heading h2:after {
    margin:30px auto 25px auto;
}

/* Primary Icon Colors */

.primary-color .icon i, .primary-color i {
    color:#fff;
}


/* Secondary Background and Text Colors */

.secondary-color {
    background-color:#f5f5f5;
}

/* Section Title and Subtitle */

.section-heading {
    padding: 0 0 15px 0;
}


.section-heading h3 {
    font-size: 14px;
    font-weight: bold;
    color: #585858;
    letter-spacing: 2px;
    padding-bottom: 0;
}

.section-title {
    font-family: 'Arimo', sans-serif, Arial, Helvetica;
    font-size: 34px; 
    font-weight:700;
    color:#585858;
}

.section-subtitle {
    font-family: 'Arimo', sans-serif, Arial, Helvetica;
    font-size: 18px;
    font-weight:300;
    padding-top: 0;
    color:#48455a;
}


.btn-warning, .btn-success, .btn-danger, .btn-info{
	font-size:18px;
	font-weight: bold;
	padding:10px;
	font-color:black;
}

@media (max-width: 567px) {
    #acheck-banner{
        background: url("../images/banner-images/1800_2800A.jpg") no-repeat center center;
        background-size:cover;
        max-width:100%;
    }
    #acheck-banner-content.row {
        padding-top: 220px!important;
        padding-bottom: 350px!important;
    }
}

@media (max-width: 767px) {
    #banner {
        background: url("../images/banner-images/1800_2800B.jpg") no-repeat center top;
        background-size:cover;
        max-width:100%;
    }
    #banner-content.row {
        padding-top: 220px!important;
        padding-bottom: 350px!important;
    }
}

@media (min-width: 568px) and (max-width: 1000px) {
    #acheck-banner{
        background: url("../images/banner-images/1800_2800A.jpg") no-repeat center center;
        background-size:cover;
        max-width:100%;
    }
    #acheck-banner-content.row {
        padding-top: 420px!important;
        padding-bottom: 450px!important;
    }
}

@media (min-width: 768px) and (max-width: 1523px) {
    #banner {
        background: url("../images/banner-images/2000_2000B.jpg") no-repeat center top;
        background-size:cover;
        max-width:100%;
    }
    #banner-content.row {
        padding-top: 450px;
        padding-bottom: 500px;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    #acheck-banner{
        background: url("../images/banner-images/2000_2000A.jpg") no-repeat center center;
        background-size:cover;
        max-width:100%;
    }
    #acheck-banner-content.row {
        padding-top: 450px;
        padding-bottom: 500px;
    }
}

@media (min-width: 1200px) and (max-width: 1523px) {
    #acheck-banner{
        background: url("../images/banner-images/2000_2000A.jpg") no-repeat center center;
        background-size:cover;
        max-width:100%;
    }
    #acheck-banner-content.row {
        padding-top: 500px;
        padding-bottom: 550px;
    }

}

@media (min-width: 1524px) {
    #banner {
        background: url("../images/banner-images/2800_1800B.jpg") no-repeat center top;
        background-size:cover;
        max-width:100%;
    }
    #banner-content.row {
        padding-top: 470px;
        padding-bottom: 470px;
    }
    #acheck-banner{
        background: url("../images/banner-images/2800_1800A.jpg") no-repeat center center;
        background-size:cover;
        max-width:100%;
    }
    #acheck-banner-content.row {
        padding-top: 600px;
        padding-bottom: 620px;
    }
}

/* Standard Headings h1-h6 */

h1 {
    font-family: 'Arimo', sans-serif, Arial, Helvetica;
    font-size: 36px; 
    font-weight:300;
    color:#111;
    padding: 18px 0;
}

h2 {
    font-family: 'Arimo', sans-serif, Arial, Helvetica;
    font-size: 34px; 
    font-weight:700!important;
    color:#111;
    padding: 14px 0;
}

h3 {
    font-family: 'Arimo', sans-serif, Arial, Helvetica;
    font-size: 28px; 
    font-weight:700;
    color:#111;
    padding: 10px 0;
}

h4 {
    font-family: 'Arimo', sans-serif, Arial, Helvetica;
    font-size: 18px; 
    font-weight:400;
    color:#111;
    padding: 7px 0;
}

h5 {
    font-family: 'Arimo', sans-serif, Arial, Helvetica;
    font-size: 16px; 
    font-weight:400;
    color:#111;
    padding: 7px 0;
}

h6 {
    font-family: 'Arimo', sans-serif, Arial, Helvetica;
    font-size: 14px; 
    font-weight:400;
    color:#111;
    padding: 7px 0;
}

/*------------------------------------------------------------------------------------------*/
/* Buttons */
/*------------------------------------------------------------------------------------------*/

.button {
    font-size: 18px;
    margin: 35px 0;
    padding: 11px 16px;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    transition: all .3s linear;
    display: inline-block;
    border-width: 3px;
    border-style: solid;
}

/* Button Text */
#banner .button {
    font-family: 'Arimo', sans-serif, Arial, Helvetica;
    font-size:18px;
    color:#111;
}


/* Button Color */
#banner .button {
    border-color:#111;
}


/* Button Hover Color */
#banner .button:hover {
    color:#355B77;
    border-color:#355B77;
}


/*------------------------------------------------------------------------------------------*/
/* Footer */
/*------------------------------------------------------------------------------------------*/

#landing-footer, #landing-footer p, #landing-footer a {
    font-family: 'Arimo', sans-serif, Arial, Helvetica;
    font-size:12px;
    font-weight:normal;
    color:#585858;
}

/* Footer Icon Color */

#landing-footer i {
    color:#585858;
}

.btn-info{
    background-color: #415c64;
    border-color:#1e2b2e;
}

.btn-warning{
    background-color: #77511c;
    border-color:#533813;
}

.btn-success{
    background-color: #1e601e;
    border-color:#184e18;
}

/* =Media Queries for Nav
===============================*/
@media all and (max-width: 1024px) {
    #nav-trigger {
        display: block;
    }

    nav#nav-main {
        display: none;
    }

    nav#nav-mobile {
        display: block;
    }

    nav#nav-mobile li {
        display: block;
    }

    #header aside {
        display: none;
    }
}

/* Landscape mobile & down
===============================*/
@media (max-width: 480px) {

    #wrapper {
        margin:0;
        padding:0;
    }

    .page-border, #scrollUp, #scrollUp:before {
        display:none;
    }

    .row {
        padding: 10px !important;
    }

    /*-----------------Header Elements-----------------*/

    #header .row {
        padding: 0 0 !important;
    }

    #header.nav-solid [class*="col-"] {
        padding: 0;
    }

    /* Social */
    #header aside {
        clear: both;
        padding: 0;
    }

    /* Footer */
    #landing-footer #copyright {
        float: left;
        width: 50%;
    }
    /*-----------------Typography-----------------*/
    h1 {
        font-size: 38px;
    }

    #banner h1 {
        font-size: 48px;
    }

}

/* Mobile to Tablet Portrait
===============================*/
@media (min-width: 480px) and (max-width: 767px) {

    #wrapper {
        margin:0;
        padding:0;
    }

    .page-border, #scrollUp, #scrollUp:before {
        display:none;
    }


    .row {
        padding: 15px 0 !important;
    }

    /*-----------------Header Elements-----------------*/

    #header .row {
        padding: 0 !important;
    }

    #header aside {
        display: inline-block;
        position: absolute;
        top: 40px;
        right: 60px;
        padding-top:3px;
        padding-right: 5px;
    }

    #header.nav-solid aside {
        top: 20px;
    }

    #header aside ul {
        margin-top: 0 !important;
        padding-top: 6px;
    }

    /*Navigation*/
    nav#nav-mobile ul {
        margin-left: -40px;
        margin-right: -40px;
        padding-left: 20px;
        padding-right: 20px;
    }

    /*-----------------Sections-----------------*/

    /* Footer */
    #landing-footer #copyright {
        float: left;
        width: 50%;
    }
}

/* Landscape Tablet to Desktop
===============================*/
@media (min-width: 768px) and (max-width: 1024px) {

    #wrapper {
        margin:0;
        padding:0;
    }

    .page-border {
        display:none;
    }

    .big-padding-top {
        padding-top: 45px !important;
    }

    /*-----------------Header Elements-----------------*/

    #header aside {
        display: inline-block;
        position: absolute;
        top: 40px;
        right: 60px;
        padding-top:3px;
        padding-right: 5px;
    }

    #header.nav-solid aside {
        top: 20px;
    }

    #header aside ul {
        margin-top: 0 !important;
        padding-top: 6px;
    }

    /*Navigation*/
    nav#nav-mobile ul {
        margin-left: -40px;
        margin-right: -40px;
        padding-left: 20px;
        padding-right: 20px;
    }

}

